/* Typography Framework
----------------------*/


body {
	font-size:62.5%; font-family:Verdana, Geneva, sans-serif; line-height: 1.6em; 
	color:#333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0 0 1em 0;
	line-height:1.125em; font-style:normal; font-weight:normal;
	color: #333;
}

h1 {
	font-size: 3.6em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 1.7em; font-weight:bold;
}
h4 {
	padding:0 0 1em;
	font-size: 1.7em; font-weight:bold;
}

h5 {
	font-size: 1.6em;
	font-weight: bold;
}

h6 {
	font-size: 1.5em;
	font-weight: bold; font-style: italic;
}

h1+h2 {
	margin-top: -1.6em; padding:0 0 2em;
	font-size: 2em; font-style: italic;
}

h2+h3 {
	margin-top: -1em;
	font-size: 1.8em; font-style: italic;
}

h4+h5 {
	font-size:1.4em;
}

p {
	padding: 0 0 2em;
	font-size: 1.2em; line-height:1.4em;
}

p+p {
}

strong, b {
	font-weight: bold;
}

em, i, cite {
	font-style: italic;
}

del {
	text-decoration:line-through;
}

mark {
	background-color:#F2F4CC;
}

dfn[title] {
	border-bottom: 1px dotted black;
	cursor: help;
}

span { font-size:inherit; /* span inside h1 etc. */ }

p a {
	text-decoration:underline;
	color:#D87731;
}

p a:hover {
	text-decoration:none;
}

p a:visited {
	color: #528C73;
}

nav a {
	border:none;
}

hr {
	border-top:1px solid  #C3DFF7; border-left:1px solid #C3DFF7; /* specificare il colore dello sfondo per IE7 */
	border-bottom:0;
	margin:0 auto 2.3em auto; padding: 0;
	width: 100%; height: 1px;
	background-color: #fff;
}

ol, ul {
	padding: 0 0 3.2em;
}

ol ol,
ul ul {
	padding:1.6em 0;
}

nav ul {
	padding:0;
}

ol li,
ul li {
	margin-left: 1.4em; padding: 0 0 0 .6em;
	list-style: outside decimal;
}

ul li {
	list-style: outside disc;
}

nav ul li {
	padding:0; margin:0;
}

pre {
	padding: 0 0 1.6em 0;
	font: 1.2em "Courier New", Courier, monospace; line-height:1.5em;
	
	/* more info: http://www.longren.org/wrapping-text-inside-pre-tags/ */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	width: 99%;
}

/* !!! verifica compatibilità ckeditor table!!! */

table {
	border-collapse:collapse;
	margin-bottom:1.6em;
	width: auto;
	font:1.2em Arial, Helvetica, sans-serif; line-height:1.2em;
	word-wrap: break-word; /* !!! don't work! */
}

caption {
	margin-bottom:.8em;
	font-size:2.8em;
	text-align: left;
}

th,td {
	padding:10px 20px 10px 0;
	word-wrap: break-word;
	vertical-align: top;
}
thead, thead th,thead tr, thead td {
	border-bottom:solid 2px #444;
	font-weight: bold; text-align: left;
}

tfoot th,tfoot td {
	font-style: italic;
}

tbody th,tbody td,tfoot th,tfoot td {
	border-top:solid 1px #999;
}

th:first-child,td:first-child {
	padding-left:0
}

th:last-child,td:last-child {
	padding-right:0
}

tr:nth-child(even) td{}
tbody tr:nth-child(odd) th,tbody tr:nth-child(odd) td {
	background:rgba(0, 0, 0, 0.035);
}
